params {

    // References
    cres = "$projectDir/cres.csv"
    tss = "$projectDir/refs/gencode.v45.chr_patch_hapl_scaff.TSSUp0Down1bp.geneName.ENSG.hg38.bed.gz"

    outdir = "$projectDir/results"

}

profiles {
    conda {
        conda.enabled = true
    }
    docker {
        docker.enabled = true
        docker.runOptions = '--rm'
    }
    local {
        process.executor = 'local'
    }
}

process {
    executor = 'local'
    cpus = 1
}

